body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Menlo, Consolas, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
    background-color: black;
}

#canvas-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas-container canvas {
    width: 100%; // TODO height 100 based on ratio
}

#side-panel {
    position: absolute;
    right: 0;
    top: 0;
    width: 440px;
    height: 100%;
    padding: 10px;
    background-color: rgba(20,20,20,0.1);
    opacity: 1;
}

#side-panel #show-side-panel {
    width: 100px;
    height: 50px;
    left: -120px;
    bottom: 29px;
    position: absolute;
}

#side-panel #show-side-panel input {
    width: 100%;
    height: 100%;
    background: #0ac2fe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0, 0.13);
}

#side-panel #show-side-panel input:hover {
    background: #3dc9fc;
    box-shadow: 0 0 13px rgba(0,0,0, 0.19);
}

#side-panel #show-side-panel input:active {
    background: #09ace3;
}

#side-panel #show-side-panel input:focus {
    outline: none;
}

#side-panel #show-side-panel img {
    pointer-events: none;
}

#side-panel #show-panel-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#side-panel #code-container {
    height: calc(100% - 120px);
    width: 420px;
}

#side-panel #code-container .CodeMirror {
    height: 100%;
}

#side-panel .label, #side-panel #launch-button {
    height: 50px;
    width: 420px;
}

#side-panel .label {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#side-panel #launch-button {
    background: #0ac2fe;
    border: none;
    border-radius: 5px;
    color: #1c1c68;
    font-weight: 600;
}

#side-panel #launch-button:hover {
    background: #3dc9fc;
    cursor: pointer;
}

#side-panel #launch-button:active {
    background: #09ace3;
    cursor: pointer;
}

#win-prompt {
    display: none;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0f0932;
    font-family: Segoe UI;
    padding: 85px;
    padding-top: 100px;
    box-shadow: 2px 1px 20px 0 rgba(0,0,0, 0.2);
}

#win-prompt img {
    position: absolute;
    top: -95px;
    left: 50%;
    transform: translate(-50%);
}

#win-prompt label,
.title {
    color: #b0bdfe;
}

#win-prompt .title {
    font-weight: 400;
}

#win-prompt form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

#win-prompt .title {
    text-align: center;
}

#win-prompt form input {
    -webkit-appearance: none;
    width: 250px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background: #4d496a;
    margin-bottom: 25px;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}

#win-prompt form input:hover {
    background: #565276;
}

#win-prompt form input[type="email"] {
    margin-bottom: 70px;
}

#win-prompt form input[type="text"] {
    text-transform: uppercase;
}

#win-prompt form .agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#win-prompt form img {
    display: none;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 13px;
}

#win-prompt form input[type="checkbox"] {
    width: inherit;
    margin: 0 12px 0 0;
    padding: 10px;
    cursor: pointer;
}

#win-prompt form .agreement label {
    padding-bottom: 1px;
    cursor: pointer;
    font-size: 14px;
}

#win-prompt form input:focus,
#win-prompt form button:focus {
    outline: none;
}

#win-prompt form .conditions {
    color: #b0bdfe;
    font-size: 13px;
}

#win-prompt form button, .prompt-container button {
    -webkit-appearance: none;
    width: 280px;
    border: none;
    border-radius: 5px;
    padding: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 0.94rem;
}

#win-prompt form button {
    background: #466f7e;
    pointer-events: none
}

#win-prompt form button.active {
    background: #0ac2fe;
    cursor: pointer;
    pointer-events: auto

}

#win-prompt form button.active:hover {
    background: #3dc9fc;
}

#win-prompt form button.active:active {
    background: #09ace3;
}

.prompt-container button {
    transform: translateX(-50%);
    margin-left: 50%;
    background: #0ac2fe;
}

.prompt-container {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0f0932;
    transform: translate(-50%, -50%);
    font-family: Segoe UI;
    padding: 25px 35px 65px 65px;
    color: #fff;
    max-width: 500px;
    box-shadow: 2px 1px 20px rgba(0,0,0, 0.2);
}

#splash-container {
    /*display: none;*/
    text-align: center;
}

#condition-container {
    display: none;
}

h3.title {
    margin-top: 0;
    margin-bottom: 40px;
}

#splash-container h3 span{
    display: block;
}

.splash-prompt-container .email {
    font-style: italic;
}

.close {
    position: absolute;
    top: 20px;
    right: 25px;
    cursor: pointer;
    padding: 8px;
    transform: scale(0.9);
}

.close:hover {
    transform: scale(1);
}

.content-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.content-container .content {
    height: 100%;
    padding-right: 15px;
}
.content-container .content h3 {
    padding: 0 70px;
    text-align: center;
    margin-top: 0;
}
.content-container .content .bold {
    font-weight: 700;
}
.content-container .content span {
    display: block;
}

.splash-btn,
.condition-btn {
    position: absolute;
    bottom: 9px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 65px;
    height: 50px;
    outline: none;
    cursor: pointer;
    color: #1c1c68;
    box-shadow: 0 0 10px rgba(0,0,0, 0.13);
}

.splash-btn {
    left: 13px;
    background: #8fc648;
}

.condition-btn {
    left: 93px;
    background: #0ac2fe;
}

.splash-btn:hover {
    background: #a2e051;
}

.condition-btn:hover {
    background: #3dc9fc;
}

.condition-btn:active {
    background: #09ace3;
}

.splash-btn:active {
    background: #7dad3e;
}

.splash-btn:hover,
.condition-btn:hover {
    box-shadow: 0 0 13px rgba(0,0,0,0.19);
}

.splash-btn-container img {
    left: 37px;
}

.condition-btn-container img {
    left: 116px;
}

.splash-btn-container img,
.condition-btn-container img {
    position: absolute;
    bottom: 22px;
    pointer-events: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    background: rgba(255,255,255,0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(255,255,255,0.25);
}

::-webkit-scrollbar-corner {
    border-radius: 10px;
}